<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        
        {% block css %}
        <link href="{{ STATIC_PREFIX }}css/base-style.css" rel="stylesheet" type="text/css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>        
	{% endblock %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 
        {% block js %}
		
        {% endblock %}

	{% block title %}
	<title>ClassShare</title>
	{% endblock %}
    </head>
    
    <body>
        <div id="container">
            <div id="header">
                <div id="title">
                <h1><a href="/">ClassShare</a></h1>
                <span id="subtitle">You're at UC Berkeley. Time to take advantage of it!</span>
                </div>
                <div id="account-links">
		  {% if user.is_authenticated %}
		  Welcome <a href="{% url student user.pk %}">{{ user.username }}</a>! <a href="{% url logout %}">Logout</a>
		  {% else %}
		  <a href="{% url login %}">Log in</a>
		  {% endif %}
                </div>
            </div>
            <ul id="nav">
                <a href="{% url home %}"><li>Home</li></a>
                <a href="{% url courses %}"><li>Find a class</li></a>
                <a href="{% url courses %}"><li>Write a review</li></a>
            </ul>
            
            <div id="content">
	      {% if messages %}
	      <ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	      </ul>
	      {% endif %}
            {% block content %}
            Default content
            {% endblock content %}
            </div>
            <div id="footer">
            <div class="three-column">
                <div class="col col1">
                ClassShare is an independent study project by <a href="http://www.rowyn.com">Rowyn McDonald</a>, <a href="http://www.ischool.berkeley.edu/people/students/monicarosenberg">Monica Rosenberg</a>, and <a href="http://www.littlegreenriver.com">Karen Rustad</a> for the <a href="http://www.ischool.berkeley.edu">UC Berkeley I School</a>.</div>
               <div class="col col2"> 
               Powered by <a href="http://www.djangoproject.com">Django</a>. 
               </div>
               <div class="col col3">
                <a href="https://github.com/aldeka/classshare">Patches welcome.</a> :-)
                </div>
                &nbsp;
            </div>
            <div class="clearer"></div>
            </div>
        </div>
    </body>
</html>
