{% extends "base.html" %}

{% block content %}
<div class="three-column">

<div class="col col1">
    <h3>I Schoolers are everywhere...</h3>
    (tag cloud goes here)
</div>

<div class="col col2">
    <h3>Top reviewed classes:</h3>
    <ol>
        <li>MBA 270 - Underwater Businessweaving</li>
        <li>CS 160 - UI Stuff</li>
        <li>ENV 223 - Design Concepts </li>
    </ol>
</div>

<div class="col col3">
    <h3>{% if user.is_authenticated %}Recent reviews{% else %}Log in{% endif %}</h3>
    {% if user.is_authenticated %}
    <ul>
        {% for review in recent_reviews %}
        <li>{% if review.is_anonymous %}Anonymous{% else %}{{ review.author }}{% endif %} reviewed {{ review.reviewed_class }} at {{ review.timestamp }}</li>
        {% endfor %}
    </ul>
    <a href="">Write a review!</a>
    {% else %}
        {% if form.errors %}
            <p>Your username and password didn't match, please try again.</p>
        {% endif %}

        <form method="post" action=".">{% csrf_token %}
            <p>
                <label for="id_username">Username:</label>
                {{ form.username }}
            </p>
            <p>
                <label for="id_password">Password:</label>
                {{ form.password }}
            </p>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="{% url reviews.views.home %}" />
            {% endif %}
            <input type="submit" value="login" />
        </form>
    {% endif %}
</div>
</div>

<div class="clearer"></div>

<h2>What is ClassShare?</h2>
<p>ClassShare is a website for I Schoolers to share information about interesting, I School-ish classes in other departments at UC Berkeley.</p>
<p>UC Berkeley is a big place, with so many interesting things going on. The I School is an interdisciplinary program, with students with a wide variety of interests, which benefits from exposure to other departments on campus. However, we've found that it's hard to hear about classes in other departments, especially before the semester gets going. When we have managed to hear about and take external classes, it was usually through the in-person recommendations of alumni and second-year students. ClassShare is a venue to formalize those knowledge transfers and make them accessible to all I Schoolers through course postings and reviews.</p>

{% endblock content %}
