{% extends "base.html" %}

{% block content %}
<div id="splash">
<p>Have the sneaking suspicion that there are cool, ISchool-ish courses all over the place that you'll never hear about until it's too late?</p>

<p>Time to fix that!</p>

<p>ClassShare is a place for ISchoolers to share information about neat classes in departments all over Berkeley's campus that we might be interested in taking.</p>
</div>

<div id="find-course">
<h3>Look up a course:</h3>
<ul>
<li><a href="/depts/">by department</a></li>
<li><a href="/tags/">by tag</a></li>
<li><a href="/search/">by keyword</a></li>
</ul>
Or just <a href="/courses/">look through all of them</a>!
</div>

<div id="review-course">
<h3>Review a course you've taken:</h3>
<form id="add-or-review-course" action="/courses/add/" method="post">
<input name="course-stub" placeholder="Start typing the course's department code and number"></input>
<input type='submit' value="Enter"></input>
</form>
</div>

{% endblock content %}
