{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block css %}
{{ block.super }}
<link href="{{ STATIC_PREFIX }}css/splash.css" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
<div class="three-column">

<div class="col col1">
    <h3>I Schoolers are everywhere...</h3>
    (tag cloud goes here)
</div>

<div class="col col2">
    <h3>Top reviewed classes:</h3>
    <ol>
        {% for course in most_reviewed_courses %}
        <li><a href={% url course course.pk %}>{{ course }} - {{ course.name }}</a></li>
        {% endfor %}
    </ol>
</div>

<div class="col col3">
    <h3>{% if user.is_authenticated %}Recent reviews{% else %}Log in{% endif %}</h3>
    {% if user.is_authenticated %}
    <ul>
        {% for review in recent_reviews %}
        <li>{% if review.is_anonymous %}Anonymous{% else %}{{ review.author }}{% endif %} reviewed <a href="{% url course review.reviewed_class.course.pk %}#review-{{ review.pk }}">{{ review.reviewed_class }}</a> at {{ review.timestamp }}</li>
        {% endfor %}
    </ul>
    <a href="">Write a review!</a>
    {% else %}
      <form id="login" method="post" action="/login/">
        {% include "reviews/basic_form.html" %}
	<div class="form-field">
	  <input type="hidden" name="next" value="/" />
        </div>	
	<div class="form-field">
          <input type="submit" value="login" />
        </div>
      </form>
      <a href="https://www.ischool.berkeley.edu/user/password" target="_blank">Forgot your password?</a>
    {% endif %}
</div>
</div>

<div class="clearer"></div>

<h2>What is ClassShare?</h2>
<p>ClassShare is a website for I Schoolers to share information about interesting, I School-ish classes in other departments at UC Berkeley.</p>
<p>UC Berkeley is a big place, with so many interesting things going on. The I School is an interdisciplinary program, with students with a wide variety of interests, which benefits from exposure to other departments on campus. However, we've found that it's hard to hear about classes in other departments, especially before the semester gets going. When we have managed to hear about and take external classes, it was usually through the in-person recommendations of alumni and second-year students. ClassShare is a venue to formalize those knowledge transfers and make them accessible to all I Schoolers through course postings and reviews.</p>

{% endblock content %}
