{% extends "base.html" %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">var STATIC_PREFIX = "{{STATIC_PREFIX}}";</script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/add_instructor.js"></script>
{% endblock js %}
{% block content %}
<h2>When did you take {{ course.course_code }}?</h2>
<form method="post" action="{% url reviews.views.choose_class_to_review course.pk %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-field">
      {{ form.year.errors }}
      {{ form.year.label_tag }}
      {{ form.year }}
    </div>
    <div class="form-field">
      {{ form.semester.errors }}
      {{ form.semester.label_tag }}
      {{ form.semester }}
    </div>
    <div class="form-field">
      {{ form.instructor.errors }}
      {{ form.instructor.label_tag }}
      {{ form.instructor }}
      <a href="#" class="add-another" id="add-instructor">
	<img src="{{ STATIC_PREFIX }}img/icon_addlink.gif" title="Add Instructor" alt="Add Instructor"/>
      </a>
      <input type="hidden" name="new-instructor" id="new-instructor" value="False"/>
    </div>
    <div class="form-field">
      {{ form.course }}
    </div>
    <div>
        <input type="submit" class="button" value="Next" />
    </div>
</form>
{% endblock content %}
