{% extends "base.html" %}

{% block js %}
<script>
  $(document).ready(function() {
    $("#accordion").accordion();
  });
  </script>
{% endblock js %}

{% block content %}
<h2>Courses:<h2>
<div id="accordion">
	<h3><a href="#">Section 1</a></h3>
	<div>
		<p>
		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
		</p>
	</div>
	<h3><a href="#">Section 2</a></h3>
	<div>
		<p>
		Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
		purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
		velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
		suscipit faucibus urna.
		</p>
	</div>
</div>
<ul>
    {% for course in courses %}
        <li><a href="{% url reviews.views.course course.pk %}">{{ course.course_code }} -- {{ course.name }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
