{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link href="{{ STATIC_PREFIX }}css/review-form.css" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block js %}
{{ block.super }}
<script type = "text/javascript" src="{{ STATIC_PREFIX }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_tags').autocomplete({{ tags|safe }}, {
        // Allow multiple entries. Comma is default separator.
	multiple: true,
    });
});
</script>
{% endblock js %}

{% block content %}
<h2>{% if is_new_review %}Add{% else %}Edit{% endif %} review of {{ class.course.course_code }}</h2>
<form method="post" action="{% if review_id %}{% url edit_review class.id review_id %}{% else %}{% url review_course class.id %}{% endif %}">
    {% csrf_token %}
    {{ form }}
<div class="clearer">&nbsp;</div>
    <input type="submit" name="save" value="Save" class="button happy-button"></input> {% if review_id %}<input type="submit" name="delete" value="Delete" class="button danger-button"></input>{% else %}<a href="{% url course class.course.id %}">Cancel</a>{% endif %}
</form>

<div class="clearer"></div>
{% endblock content %}
