{% extends "base.html" %}

{% block content %}
<h2>Course: {{ course.course_code }}</h2>

<h3>Details</h3>
Full name: {{ course.name }}<br/>
Description: {{ course.description }}
Department: <a href="{% url reviews.views.department course.department.abb %}">{{ course.department.name }}</a><br/>
Instructors:<br/>
{% for instructor in course.instructors %}
<a href="{% url reviews.views.instructor instructor.pk %}">{{ instructor.name }}</a><br/>
{% endfor %}
Tags: {% for tag in course.tags.all %}<a href="{% url reviews.views.tag tag.pk %}">{{tag.name}}</a> {% endfor %}<br/>
Thumbs-up: {{ course.thumb_count }}

<h3>Reviews</h3>
{% for class in course.class_set.all %}
    {% for review in class.review_set.all %}
        <div id="review-{{ review.pk }}" class="review">
            <div class="review-head">
            {% if review.thumbs_up %}Thumbs up icon goes here{% endif %}<br/>
            {% if review.is_anonymous %}Anonymous{% else %}{{ review.author.username }}{% endif %} reviewed the {{ review.reviewed_class.semester_formatted }} offering of {{ course.course_code }}:
            </div>
            <div class="review-content">
            {{ review.content }}
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock content %}
