body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12pt;
    font-family: Goudy, Palatino, 'Liberation Serif', serif;
    background: #4D98B9;#82A0A6;
    color: #222;
}

a, a:visited {
    text-decoration: none;
    color: #003376;
}

a:hover, a:active {
    color: #001156;
    text-decoration: underline;
}

h1, h2, h3, #nav {
    font-family: Summersby, Helvetica, Verdana, sans-serif;
    }
    
h1, h2, h3 {
    margin: 0;
    color: #E6602B;
}

h1 {
    font-size: 2.7em;
}

#container {
    width: 918px;
    margin: 0 auto;
}

#header {
    height: 100px;
    width: 100%;
}

#title {
    float: left;
}

#title a {
    color: #E6602B;
    background: white;
}

#subtitle {
    font-style: italic;
    font-size: 1.2em;
    color: white;
}

#account-links {
    float: right;
    background: white;
    padding: 5px;
}

#nav {
    padding: 0;
    margin: 0 0 5px 0;
}

#nav li {
    font-size: 1.2em;
    display: inline;
    list-style-type: none;
    padding: 5px 15px 6px 15px;
    margin-right: 5px;
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav li#active {
    background: white;
}

#nav a:hover, a:active {
    text-decoration: none;
}

#content {
    clear: both;
    margin-top: 0;
    padding: 15px 20px 20px 20px;
    background: white;
    }
    
.clearer {
    clear: both;
}
    
.three-column {
    clear: both;
}

.col {
    width: 32%;
    margin-right: 10px;
    float: left;
    display: block;
    padding: 0 3px 5px 3px;
}

.col3 {
    float: none;
    margin-left: 68%;
}

.module {
    padding: 5px 10px;
    border: 4px solid #C2D0D9;
    border-radius: 10px;
    margin-bottom: 15px;
}

#footer {
    margin-top: 20px;
    background: white;
    padding: 15px 20px;
    font-size: .9em;
}

/* MESSAGES & ERRORS */

ul.messages {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messages li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc;
}

ul.messages li.warning{
    /* TODO: Choose a color */
    background-image: url(../img/admin/icon_alert.gif);
}

ul.messages li.error{
    /* TODO: Choose a color */
    background-image: url(../img/admin/icon_error.gif);
}
