body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12pt;
    font-family: Goudy, Palatino, 'Liberation Serif', serif;
    background: #4D98B9;
    color: #222;
}

a, a:visited {
    text-decoration: none;
    color: #003376;
}

a:hover, a:active {
    color: #001156;
    text-decoration: underline;
}

h1, h2, h3, #nav {
    font-family: Summersby, Helvetica, Verdana, sans-serif;
    }
    
h1, h2, h3 {
    margin: 0;
    color: #E6602B;
    padding-bottom: 8px;
}

h3 {
    
}

h1 {
    font-size: 2.7em;
}

#container {
    width: 918px;
    margin: 0 auto;
}

#header {
    height: 100px;
    width: 100%;
}

#title {
    float: left;
}

#title a {
    color: #E6602B;
    background: white;
}

#subtitle {
    font-style: italic;
    font-size: 1.2em;
    color: white;
}

#account-links {
    float: right;
    background: white;
    padding: 5px;
}

#nav {
    padding: 6px 10px;
    box-sizing: border-box; /* Padding subtracts from width */
    -moz-box-sizing: border-box;
    margin: 0;
    width: 100%;
    background: #C2D0D9;#ddd;#ADCCF9;
    display: inline-block;
}

#nav a {
    font-size: 1.2em;
    padding: 8px 15px;
    background: #f6f6f6;
    display: block;
}

#nav li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

#nav li:first-child {
    margin-left: 0;
}

#nav li.search {
    float: right;
}

#nav input[type="submit"] {
    font-size: 1.2em;
    margin: 0;
    padding: 6px 15px;
}

#nav a:hover, a:active {
    background: #fff;
    color: #E6602B;
}

#nav a:hover, a:active {
    text-decoration: none;
}

#content {
    clear: both;
    margin-top: 0;
    padding: 15px 20px 20px 20px;
    background: white;
    }
    
.clearer {
    clear: both;
}
    
.three-column {
    clear: both;
}

.col {
    width: 32%;
    margin-right: 10px;
    float: left;
    display: block;
    padding: 0 3px 5px 3px;
}

.col3 {
    float: none;
    margin-left: 68%;
}

.module {
   /* padding: 5px 10px;
    border: 4px solid #C2D0D9;
    border-radius: 10px;*/
    margin-bottom: 15px;
}

.thumbs-up img {
    margin-bottom: -5px;
    padding-right: 5px;
}

#footer {
    margin-top: 20px;
    background: white;
    padding: 15px 20px;
    font-size: .9em;
}

.hidden {
    display: none;
    }
    
/* form things */

#content label {
    width: 7em;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-top: 0.2em;
}


.form-field {
    margin-bottom: 0.5em;
}

#content input, #content select, #content textarea {
    width: 7em;
}

/* For form elements which shouldn't be wide, e.g. course numbers. */
#content *.wide {
    width: 25em;
}

#login input[type="text"], #login input[type="password"] {
    width: 10em;
}

#content input[type="checkbox"] {
    width: auto;
}


#content input[type="submit"], #content button {
    font-size: 1.3em;
    padding: 8px 15px;
    width: auto;
}

/* Submit button divs */
#content form div:last-child {
    padding-left: 2px;
    margin-left: 7em; 
}

.button {
    border-radius: 5px;
    background: #e8e8e8;
    border-top: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.danger-button {
    background: #efa9a9;
    border-top: 1px solid #f9b9b9;
    border-left: 1px solid #f9b9b9;
    border-bottom: 1px solid #ba7777;
    border-right: 1px solid #ba7777;
}

.happy-button {
    background: #a9df98;
    border-top: 1px solid #a9ef98;
    border-left: 1px solid #a9ef98;
    border-bottom: 1px solid #87bb77;
    border-right: 1px solid #87bb77;
}

/* MESSAGES & ERRORS */

ul.messages {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messages li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/icon_success.gif) no-repeat;
}

ul.messages li.warning {
    background-image: url(../img/icon_alert.gif);
}

ul.messages li.error {
    color: red;
    background-image: url(../img/icon_error.gif);
}
