form input, form select, form textarea, form label {
    display: block;
    float: left;
    clear: right;
}

form label {
    clear: both;
    padding-right: 5px;
    }
    
form input[type="submit"] {
    float: left;
    margin-right: 10px;
}
