{% extends "base.html" %}

{% block title %}
    <title>ClassShare Login</title>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match, please try again.</p>
    {% endif %}
    <form id="login" method="post" action=".">
      {% include "reviews/basic_form.html" %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="#" />
      {% endif %}
      <div>	
        <input type="submit" value="login" />
      </div>
    </form>
{% endblock %}
